@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: url("MathsQuizImages/bgmaths.jpg");
  font-family: 'Open Sans Condensed', sans-serif;
}

#name{
  color:black ;
}

div[class*=box] {
  height: 33.33%;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}



.btn {
  line-height: 50px;
  height: 100px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  
  
}



/* 
========================
      BUTTON TWO
========================
*/
.btn-two {
  color: rgb(212, 35, 35);
  transition: all 0.5s;
  position: relative; 
}
.btn-two span {
  z-index: 2; 
  display: block;
  position: absolute;
  width: 100%;
  height: 100%; 
}
.btn-two::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(172, 16, 16, 0.2);
  background-color: rgba(14, 178, 233, 0.851);
}
.btn-two::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(11, 68, 225, 0.2);
  background-color: rgba(18, 215, 233, 0.763);
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(12, 179, 230, 0.844);
}
.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(15, 206, 245, 0.74);
}


