body {
    background-color: white;
    background-image: url('../ScrambleImages/B.jpeg');
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;

}

#container1 {

    margin-left: 3em;
    margin-top: -32em;color: white;
    display: flex;
    flex-direction: row-reverse;
}

#scoreheading {
    border: 4px  red;
    border-style: groove double double double;
    width: 9em;
    height: 3em;
    background: linear-gradient(to bottom, #3333ff 14%, #3399ff 100%);
    

    justify-content: center;
}

#score {
    color: white;
    padding: 0.1em 0.4em;
    font-size: 2.5em;
}
#marksshow{
border: 4px solid red;
border-style: dashed double double double;
background: radial-gradient(  #ffffcc , #66ffff );
    padding: 0.1em 0.4em;
    width:2.6em;
    height: 2em;
    font-size: 2.5em;
color:#0066ff ;}
#marks{
    padding-top: 0.5em ; 
}
          

#container2 {
    margin: auto;
    background-color: #ffe6ee;
    border-radius: 15px;

    justify-content: center;
    box-shadow: 10px 10px 30px 10px #e6ccff;
}

#heading {
    padding: 1em;
    border-bottom: 2px solid;
    color: white;
    background-color: #ff4d4d;
    border-radius: 15px 15px 0 0;
    padding-bottom: 0.3em;

}

#wordshow {
    margin: 1.2em 6em 4em 6em;
    justify-content: center;
    align-items: center;
    max-width: 26em;
    max-height: 80em;
    min-height: 28em;


}

.sh {
    background-color: #ffffb3;

    border-style: inset;
    min-width: 3em;
    max-height: 3em;
    min-height: 3em;
    max-width: 20em;
    box-shadow: 0 2px #999;
    margin-top: 0.1em;
    padding-bottom: 1.7EM;
    margin-bottom: 0.2em;

}

#wordss {
    font-size: 12em;
    color: rgb(67, 21, 196);
    justify-content: center;
    margin: 3em;
    padding: 0.1em 0.8em .1em 4em;
    font-weight: bolder;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


#hint {
    font-size: 1.8em;
    font-weight: bolder;
margin-top: 1em;
    min-width: 4em;
    max-width: 6EM;
    display: none;
}




#screen {
    font-size: 1.5em;
    padding-left: 2em;
    margin-top: -0.5em;
    padding-bottom: 0.3em;
    font-family: cursive;
    font-weight: 950;
    height: 1em;
    width: 12em;
    border: 1px solid slategrey;
    background-color: rgb(152, 252, 252);
    border-radius: 30px;
}

.bts {
    background-color: #ffb3d9;
    border-style: 1px green;
    padding: 10px;
    font-size: 1.2em;
    color: #0033cc;
    font-weight: bolder;
    border-radius: 15px 15px;
    box-shadow: 0 3px #999;
}

.bts:hover {
    background-color: #66ff99;
}

.bts:active {
    background-color: #66ff99;
    box-shadow: 0 8px #009936;
    transform: translateY(4px);
}

.bts:disabled {
    background-color: hsl(141, 15%, 74%);
    box-shadow: 0 8px #5aad77;
    transform: translateY(0);
}

.result {

    margin: auto;
    justify-content: center;

    padding: 0.5em;
    font-size: 2em;
    font-weight: bold;

}

#result_right {
    text-shadow: 5px 5px 15px rgb(107, 180, 107),
        -5px 5px 15px rgb(81, 134, 81),
        -5px -5px 15px rgb(103, 168, 103),
        5px -5px 15px rgb(86, 155, 95);
    color: rgb(92, 252, 0);
    display: none;
}

#result_wrong {
    text-shadow: 5px 5px 15px rgba(133, 9, 9, 0.945),
        -5px 5px 15px rgba(204, 73, 73, 0.945),
        -5px -5px 15px rgba(185, 51, 51, 0.945),
        5px -5px 15px rgba(153, 61, 61, 0.945);
    color: rgba(243, 13, 13, 0.945);
    display: none;
}

#CorrectAnswer {
    display: none;
    font-size: 1.5em;
    font-weight: bolder;
    padding-bottom: 0.2em;
    color: #b800e6;
}


.timee {
    font-weight: bolder;
    font-size: large;
    align-items: center;
    justify-content: center;
    margin-left: 5em;
    color: #941cb3;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: -0.01em;
}

#time {
    font-weight: bolder;
    font-size: large;
    align-items: center;
    justify-content: center;
    color: #941cb3;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: -0.01em;
}


.timebar1 {
    position: relative;
    height: 0.7em;
    width: 20em;
    border: 1px solid rgb(6, 42, 78);
    background-color: rgb(72, 100, 100);
}

.timebar2 {
    height: 0.7em;
    width: 20m;
    background-color: rgb(163, 236, 28);
}

#timeOverMsg {
    font-size: 2em;
    color: red;
    font-weight: bolder;
    display: none;
}

.emoji {
    color: red;
    font-size: 3em;
    margin-left: 1.3em;
    text-shadow: none;
}
