@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
:root{
	background-color: rgb(29,26,26)
	}	
.quizBody{
	background: url('../MathsQuizImages/maths.jpg');
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 65%;
	font-family:'Nova Square',cursive;
}
#play{
text-shadow: 5px 5px 15px rgba(20, 163, 224, 0.945),
-5px 5px 15px rgba(247, 6, 227, 0.945),
-5px -5px 15px rgba(22, 4, 47, 0.945),
5px -5px 15px rgba(4, 5, 5, 0.945);
color: rgba(10, 13, 18, 0.945);
}
h1{
	font-size: 5rem;
	color: #fff;
	margin-bottom: 3rem ;
	
}
h2{
	font-size: 4rem;
	margin-bottom: 3.2rem;
}
.container{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 90rem;
	margin: 0 auto;
	padding: 2rem;

}
.flex-column{
	display: flex;
	flex-direction: column;
}
.flex-center{
	justify-content: center;
}
.justify-center{
	justify-content: center;
}
.text-center{
	text-align: center;
}
.hidden{
	display: none;
}
.btn{
	font-size: 3rem;
	padding: 3rem 0;
	width: 35rem;
	text-align: center;
	margin-bottom: 1rem;
	text-decoration: none;
	color: rgb(28,26,26);
	background: linear-gradient( 90deg,rgb(18,92,255)0%,rgb(0,102,255)100%);
	border-radius: 5px;
}
.btn:hover{
	cursor: pointer;
	box-shadow: 0 0.5rem 1.5rem 0 rgba(8, 114, 244, 0.6);
	transition: transform 150ms;
	transform: scale(1.05);
} 
.btn[disabled]:hover{
	cursor: not-allowed;
	box-shadow: none;
	transform: none; 
}
#yourscore-btn{
	background: linear-gradient( 90deg,rgb(210, 24, 114)0%,rgb(42, 229, 123)100%);
}
#yourscore-btn:hover {
	box-shadow:  0 0.5rem 1.5rem 0 rgba(245, 71, 41, 0.6);
}
.fa-crown{
	font-size: 2.5rem;
	margin-left: 1rem ;
}
/*score page css*/
.fa-home{
	margin-left: 1rem;
	font-size: 2rem;
	color: black;
}
#saveScoreBtn{
	border: none;
}
#timeStamp{
	font-size: 3rem;
	background-color: #fff;
}
.end-form-container{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 30rem;
}
input{
	margin-bottom: 1rem;
	width: 20rem;
	padding: 1.5rem;
	font-size: 1.8rem;
	border: none;
	box-shadow: 0 0.1rem 1.4rem 0 rgba(20, 163, 224, 0.945);
}
input::placeholder{
	color: #aaa;
}
#usename{
	margin-bottom: 3rem;
	width: 100%;
	outline: none;

}
#end-text{
	font-size: 2.4rem;
	color: #fff;
	text-align: center;
}